body {
	padding: 0;
	margin: 0;
}
#options {
	margin: 60px;
}
.page {
	margin: 60px;
	display: flex;  /* This centers our sketch horizontally. */
	justify-content: center;  /* This centers our sketch vertically. */
	align-items: center;
}
.sketch1, .sketch2, .sketch3, .sketch4 {
	width: 500px;
	height: 200px;
	margin: 20px;
	border: 1px solid black;
}
.ui.inverted.segment {
	background-color: #ed225d;
}