body {
	padding: 0;
	margin: 0;
}
#options {
	margin: 60px;
}
.page {
	width: 100%;
	margin: auto;
	display: inline-block;
	text-align: center; 
}
.sketch1, .sketch2 {
	margin: 20px;
}
.ui.inverted.segment {
	border-radius: 0;
	background-color: #ed225d;
}